# Dependency directories (The heavy stuff!)
node_modules/

# Local environment files (Contains your passwords/API keys)
.env
.env.local

# Log files
npm-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Operating System files
.DS_Store
Thumbs.db